<div class="container">
    <mat-card class="content">
        <mat-card-header>
            <mat-card-title>Formulário</mat-card-title>
        </mat-card-header>
        <br>
        <mat-card-content>
            <form>
                <div *ngFor="let item of camposDoForm">
                    <mat-form-field class="col-md-4">
                        <mat-label>{{item.nome}}</mat-label>
                        <input matInput placeholder={{item.rotulo}} type={{item.tipo}} name={{item.nome}}>
                    </mat-form-field>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
